- selected_category ||= params[:classified] ? params[:classified][:sub_category_id] : 0

= select_tag '',                                                                       |
  options_from_collection_for_select(sub_categories,"id","name", selected_category),   |
  prompt: 'sub category', :class => 'select', id: element_id, |
  name: name